# Unity Build / Temp Files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Optional: Editor-spezifisch (entferne bei Bedarf)


# Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS-spezifisch
.DS_Store
Thumbs.db